# This file contains the code owners for the dbt-core repo.
# PRs will be automatically assigned for review to the associated
# team(s) or person(s) that touches any files that are mapped to them.
#
# A statement takes precedence over the statements above it so more general
# assignments are found at the top with specific assignments being lower in
# the ordering (i.e. catch all assignment should be the first item)
#
# Consult GitHub documentation for formatting guidelines:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# As a default for areas with no assignment,
# the core team as a whole will be assigned
*       @dbt-labs/core-team

### OSS Tooling Guild

/.github/                       @dbt-labs/guild-oss-tooling
.bumpversion.cfg                @dbt-labs/guild-oss-tooling

.changie.yaml                   @dbt-labs/guild-oss-tooling

pre-commit-config.yaml          @dbt-labs/guild-oss-tooling
pytest.ini                      @dbt-labs/guild-oss-tooling
tox.ini                         @dbt-labs/guild-oss-tooling

pyproject.toml                  @dbt-labs/guild-oss-tooling
requirements.txt                @dbt-labs/guild-oss-tooling
dev_requirements.txt            @dbt-labs/guild-oss-tooling
/core/setup.py                  @dbt-labs/guild-oss-tooling
/core/MANIFEST.in               @dbt-labs/guild-oss-tooling

### ADAPTERS

# Adapter interface ("base" + "sql" adapter defaults, cache)
/core/dbt/adapters              @dbt-labs/core-adapters

# Global project (default macros + materializations), starter project
/core/dbt/include               @dbt-labs/core-adapters

# Postgres plugin
/plugins/                       @dbt-labs/core-adapters
/plugins/postgres/setup.py      @dbt-labs/core-adapters @dbt-labs/guild-oss-tooling

# Functional tests for adapter plugins
/tests/adapter                  @dbt-labs/core-adapters

### TESTS

# Overlapping ownership for vast majority of unit + functional tests

# Perf regression testing framework
# This excludes the test project files itself since those aren't specific
# framework changes (excluded by not setting an owner next to it- no owner)
/performance                    @nathaniel-may
/performance/projects

### ARTIFACTS

/schemas/dbt                    @dbt-labs/cloud-artifacts
