black==23.3.0
bumpversion
ddtrace
docutils
flake8
flaky
freezegun==0.3.12
ipdb
mypy==1.4.1
pip-tools
pre-commit
protobuf>=4.0.0
pytest
pytest-cov
pytest-csv
pytest-dotenv
pytest-logbook
pytest-mock
pytest-split
pytest-xdist
sphinx
tox>=3.13
twine
types-colorama
types-docutils
types-PyYAML
types-freezegun
types-Jinja2
types-jsonschema
types-mock
types-protobuf
types-python-dateutil
types-pytz
types-requests
types-setuptools
wheel
mocker
