git+https://github.com/dbt-labs/dbt-adapters.git
git+https://github.com/dbt-labs/dbt-adapters.git@main#subdirectory=dbt-tests-adapter
git+https://github.com/dbt-labs/dbt-common.git@main
git+https://github.com/dbt-labs/dbt-postgres.git@main
black>=24.3.0,<25.0
bumpversion
ddtrace==2.3.0
docutils
flake8
flaky
freezegun>=1.4.0,<1.5
hypothesis
ipdb
mypy==1.4.1
pip-tools
pre-commit
pytest>=7.4,<8.0
pytest-cov
pytest-csv>=3.0,<4.0
pytest-dotenv
pytest-logbook
pytest-mock
pytest-split
pytest-xdist
sphinx
tox>=3.13
twine
types-docutils
types-PyYAML
types-Jinja2
types-mock
types-protobuf
types-pytz
types-requests
types-setuptools
wheel
mocker
